################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/bin/Debug/net6.0
/Emails
/obj
/.vs
