
@{
    ViewBag.Title = "SportsStore: Order Submitted";
}

<h2>Thanks! @User.Identity?.Name</h2>
Thanks for placing your order. We'll ship your goods as soon as possible.
<div>
    <a asp-area="" asp-controller="Product" asp-action="Index">Back to home</a>
</div>